#board-placement {
  height: 980px;
  width: 980px;
  margin-top: 20px;
  margin-right: 20%;
  margin-left: 20%;
}
.col-xs-1 {
  min-height: 80px;
  width: : 80px;
  border: 1px solid black;
}
.light {
  font-size: 50px;
}
.dark {
  background-color: grey;
  font-size: 50px;
}

/*#space {
  margin-left: 360px
}*/
