#board-placement {
  height: 1000px;
  width: 1000px;
  margin-top: 20px;
  margin-right: 20%;
  margin-left: 20%;
}
button {
  margin-top: 20px;
}
.panel {
  width: 50%;
  margin: 0 auto;
}
.col-xs-1 {
  min-height: 80px;
  width: : 80px;
}
.light {
  background-color: white;
  font-size: 50px;
  border: thin solid grey;
  border-radius: 1px;
}
.dark {
  background-color: #0093D1;
  font-size: 50px;
  border-radius: 1px;
}
.path {
  border: 2px solid red;
}
.path + .path {
  border-left: none;
}
.path - .path {
  border-right: none;
}
#wrapper {
  padding-left: 100px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  padding: 20px;
  margin-top: 40px;
  margin-left: -200px;
  left: 250px;
  width: 220px;
  background: #0093D1;
  position: fixed;
  height: 400px;
  overflow-y: auto;
  z-index: 0;
  border-radius: 6px;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}
